@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color:#dbede8;
    color:#2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
  }
  
  .image-container {
    position: relative;
    flex: 1;
    min-height: 100vh;
  }
  
  .image-container img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
  
  .form-container {
    flex: 1;
    padding: 50px;
    min-height: 100vh;
    overflow-y: auto;
  }
  
  .price-banner {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color:#dbede8;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
  }
  div h2 {
    padding: 10px;
    font-size: 35px;
    font-weight: 700;
    border-bottom: 2px solid #A93226;
  }

  h3 {
    margin-top: 15px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  select,
  label {
    display: block;
    margin-top: 10px;
  }

  select {
    font-size: 17px;
    padding: 4px; 
    border-radius: 5px;
}

.bg {
  background-color: #f3e2a9;
  margin-top: 10px;
  padding: 10px;
}