*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
    background-color: #b0b0a8;

}

.container{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    color: #fff;

    background-color: #1c1b1b;
    padding: 2em;
    border-radius: 10px;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1{
        color: #fff;
        border-bottom: 3px solid #e20505;
        font-weight: 700;
    }

    P{
        font-size: 1.2rem;
        font-weight: 400;
    }

    button{
        padding:8px 15px;
        cursor: pointer;
        background-color: #000;
        background-color: #f2f991;
        color: #1c1b1b;
        font-size: 1.2rem;
        border-radius: 5px;
        border: none;
        transition: 0.5s;
    }

    button:hover {
        color: antiquewhite;
        background-color: #636739;
    }

    .btn{
        padding-top: 10px;
    }

    .hidden{
        visibility: 0;
        opacity: 0;
    }

    #question-input {
        padding: 9px;
        width: 80%;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    
    .response{
        margin-top: 30px;
        font-size: 1.2rem;
        color: #000;
        background-color: #f2f991;
        padding: 10px;
        border-radius: 10px;
    }

}