/* * {
    
}



.circle{
    height: 150px;
    width: 150px;
    background-color: rgb(17, 21, 23);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
} */

body {
    background-color: rgb(235, 200, 189);
}