*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #333131;
    padding: 100px;
}
.atm-container {
    background: rgb(237, 216, 216);
    padding: 20px;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
input {
    width: 80%;
    padding: 5px;
    margin: 10px 0;
}
button {
    padding: 10px;
    margin: 5px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
#message {
    color: red;
    font-weight: bold;
}
/* body {
    background-color: rgb(226, 230, 230);
}

section {
    border: solid #5B6DCD 10px;
    background-color: rgb(132, 184, 65);
    margin: 150px 40%;
    padding: 30px;
    height: 400px;
    width: 300px;

}

.container {
    background-color: red;
    display: contents;
    align-items: center;
    justify-content: center;
}

#balance {
    padding: 20px;
    margin: 20px;
} */





