*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 230, 230);
}

section {
    border: solid #5B6DCD 10px;
    background-color: rgb(132, 184, 65);
    margin: 150px 40%;
    padding: 30px;
    height: 400px;
    width: 300px;

}

.container {
    background-color: red;
    display: contents;
    align-items: center;
    justify-content: center;
}

#balance {
    padding: 20px;
    margin: 20px;
}





